<% content_for :content do %>
	<!-- registration-form -->
	<div class="registration-form">
		<div class="container">
			<div class="dreamcrub">
				<ul class="breadcrumbs">
					<li class="home">
						<a href="/" title="Go to Home Page">Home</a>&nbsp;
						<span>&gt;</span>
					</li>
					<li class="women">
						Registration
					</li>
				</ul>
				<ul class="previous">
					<li><a href="/products">Browse all products</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<h2>Registration</h2>
			<div class="registration-grids">
				<div class="reg-form">
					<div class="reg">
						<p>Welcome, please enter the following details to continue.</p>
						<p>If you have previously registered with us, <a href="/login">click here to login</a></p>
						<%= form_tag create_customer_path do  %>
							<ul>
								<li class="text-info">First Name: </li>
								<li><%= text_field_tag 'customer[first_name]', @customer.first_name %></li>
							</ul>
							<ul>
								<li class="text-info">Last Name: </li>
								<li><%= text_field_tag 'customer[last_name]', @customer.last_name %></li>
							</ul>
							<ul>
								<li class="text-info">Email: </li>
								<li><%= text_field_tag 'customer[email]', @customer.email %></li>
							</ul>
							<ul>
								<li class="text-info">Username: </li>
								<li><%= text_field_tag 'customer[username]', @customer.username %></li>
							</ul>
							<ul>
								<li class="text-info">Password: </li>
								<li><%= password_field_tag 'customer[password]' %></li>
							</ul>
							<ul>
								<li class="text-info">Re-enter Password:</li>
								<li><%= password_field_tag 'customer[confirm_password]' %></li>
							</ul>

							<input type="submit" value="REGISTER NOW"/>
							<p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p>
						<% end %>
					</div>
				</div>
				<div class="reg-right">

				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<% end %>